.content__contacts {
  height: auto;
  margin-top: 60px;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.content__title__contacts {
  width: max-content;
  height: auto;
  border-radius: 25px;
  color: #eee;
  margin: 60px 0 60px 0;
  text-align: center;
  font-size: 2rem;
  background-color: #3e49543a;
  padding: 10px 30px;
}

.form__contact {
  max-width: 900px;
}

.form-control {
  background-color: #ffffff26;
  color: #eee;
}

.form-control:focus {
  background-color: #ffffff26;
  color: #eee;
  border-color: #444;
  box-shadow: none;
}

.btn__send__form {
  height: 50px;
  padding: 0 36px;
  background-color: #ffffffbd;
  color: #444;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
}

.btn__send__form:hover {
  background-color: #272727bd;
  color: #eee;
  border: none;
}

.icons__email {
  font-size: 8rem;
}

.form__input, .form__textarea {
  border: 0;
  outline: none;
}

.form__input:hover, .form__textarea:hover {
  background-color: #272727bd;
}

.form__textarea {
  min-width: 100%;
  resize: none;
  min-height: 200px !important;
  max-height: 400px !important;
}

